/*          Black           */

.bg-black {
    background-color: black;
}

.mc-black {
    color: black;
}

/*          Dark            */

.bg-dark {
    background-color: #00076f;
}

.mc-dark {
    color: #00076f;
}

/*          Slightly dark           */

.bg-slightly-dark {
    background-color: #44008b;
}

.mc-slightly-dark {
    color: #44008b;
}

/*          Main            */

.bg-main {
    background-color: #9f45b0;
}

.mc-main {
    color: #9f45b0;
}

/*          Slightly light          */

.bg-slightly-light {
    background-color: #e54ed0;
}

.mc-slightly-light {
    color: #e54ed0;
}

/*          Light           */

.bg-light {
    background-color: #ffe4f2;
}

.mc-light {
    color: #ffe4f2;
}

/*          White           */

.bg-white {
    background-color: white;
}

.mc-white {
    color: white;
}

.bg-grey {
    background-color: #eeeeee;
}

.mc-light-grey {
    color: #bdbdbd;
}
