@font-face {
    font-family: Opinion Pro Ex Lt;
    src: url('/fonts/eot/OpinionProExtended-Light.eot');
    src:
        local('Opinion Pro Extended Light'),
        local('OpinionProExtended-Light'),
        url('/fonts/eot/OpinionProExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionProExtended-Light.woff2') format('woff2'),
        url('/fonts/woff/OpinionProExtended-Light.woff') format('woff'),
        url('/fonts/ttf/OpinionProExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Opinion Pro Cn Lt;
    src: url('/fonts/eot/OpinionProCondensed-LightItalic.eot');
    src:
        local('Opinion Pro Condensed LightItalic'),
        local('OpinionProCondensed-LightItalic'),
        url('/fonts/eot/OpinionProCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionProCondensed-LightItalic.woff2') format('woff2'),
        url('/fonts/woff/OpinionProCondensed-LightItalic.woff') format('woff'),
        url('/fonts/ttf/OpinionProCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Opinion Pro Lt;
    src: url('/fonts/eot/OpinionPro-LightItalic.eot');
    src:
        local('Opinion Pro Light Italic'),
        local('OpinionPro-LightItalic'),
        url('/fonts/eot/OpinionPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionPro-LightItalic.woff2') format('woff2'),
        url('/fonts/woff/OpinionPro-LightItalic.woff') format('woff'),
        url('/fonts/ttf/OpinionPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Opinion Pro ExCn Lt;
    src: url('/fonts/eot/OpinionProExtraCondensed-Light.eot');
    src:
        local('Opinion Pro ExtraCondensed Light'),
        local('OpinionProExtraCondensed-Light'),
        url('/fonts/eot/OpinionProExtraCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionProExtraCondensed-Light.woff2') format('woff2'),
        url('/fonts/woff/OpinionProExtraCondensed-Light.woff') format('woff'),
        url('/fonts/ttf/OpinionProExtraCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Opinion Pro Ex Lt;
    src: url('/fonts/eot/OpinionProExtended-LightItalic.eot');
    src:
        local('Opinion Pro Extended Light Italic'),
        local('OpinionProExtended-LightItalic'),
        url('/fonts/eot/OpinionProExtended-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionProExtended-LightItalic.woff2') format('woff2'),
        url('/fonts/woff/OpinionProExtended-LightItalic.woff') format('woff'),
        url('/fonts/ttf/OpinionProExtended-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Opinion Pro ExCn Lt;
    src: url('/fonts/eot/OpinionProExtraCondensed-LightItalic.eot');
    src:
        local('Opinion Pro ExtraCondensed Light Italic'),
        local('OpinionProExtraCondensed-LightItalic'),
        url('/fonts/eot/OpinionProExtraCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionProExtraCondensed-LightItalic.woff2') format('woff2'),
        url('/fonts/woff/OpinionProExtraCondensed-LightItalic.woff') format('woff'),
        url('/fonts/ttf/OpinionProExtraCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Opinion Pro Lt;
    src: url('/fonts/eot/OpinionPro-Light.eot');
    src:
        local('Opinion Pro Light'),
        local('OpinionPro-Light'),
        url('/fonts/eot/OpinionPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionPro-Light.woff2') format('woff2'),
        url('/fonts/woff/OpinionPro-Light.woff') format('woff'),
        url('/fonts/ttf/OpinionPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Opinion Pro Cn Lt;
    src: url('/fonts/eot/OpinionProCondensed-Light.eot');
    src:
        local('Opinion Pro Condensed Light'),
        local('OpinionProCondensed-Light'),
        url('/fonts/eot/OpinionProCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff2/OpinionProCondensed-Light.woff2') format('woff2'),
        url('/fonts/woff/OpinionProCondensed-Light.woff') format('woff'),
        url('/fonts/ttf/OpinionProCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
