@import 'fonts.css';
@import 'reset.css';
@import 'sizes.css';
@import 'colors.css';

.center_text {
    text-align: center;
    width: 100%;
}

/*      MOBILE      */
@media screen and (max-width: 1000px) {
    .heading {
        font-weight: bold;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
}

/*      PC      */
@media screen and (min-width: 1000px) {
    .heading {
        font-weight: bold;
        font-size: 35px;
        padding-top: 35px;
        padding-bottom: 30px;
    }
}
