<p><b>Оформлен заказ от {{ cart_order['time'] }}</b></p>

<b>Информация о заказе:</b><br><br>
Имя покупателя: <br>
{{cart_order['cart_buyer_name_input']}} <br>
Имя получателя: <br>
{{cart_order['cart_recipient_name_input']}} <br>
Email: <br>
{{cart_order['cart_email_input']}} <br>
Телефон: <br>
{{cart_order['cart_tel_input']}} <br><br>
Город: <br>
{{cart_order['cart_city_input']}} <br>
Способ доставки: <br>
{{cart_order['cart_delivery_method_radio_button']}} <br>
Улица: <br>
{{cart_order['cart_delivery_street']}} <br>
Дом: <br>
{{cart_order['cart_delivery_house']}} <br>
Квартира: <br>
{{cart_order['cart_delivery_apartment']}} <br><br>
Промокод: <br>
{{cart_order['cart_delivery_promo']}} <br><br>
Комментарий: <br>
{{cart_order['cart_delivery_comment']}} <br>
Способ оплаты: <br>
{{cart_order['cart_payment_radio_button']}} <br><br>
С уважением, команда StudioGalaxy
